ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 40px;
    text-decoration: none;
    text-transform:uppercase;

}

li a:hover {
    background-color: #111;
}

h1{
	text-align: center;

}

p{
	padding:10px 250px 10px 250px;
}

.rosa{ 
	color:pink;
	font-size:30px; 
}

#introducao{
	font-size:50px;
}

.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;

}

.footer {
    width: 100%;
    background-color:#000;
    color: white;
    text-align: center;

}

img {
	max-height: 300px;
	float:
}
